<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
DirectoryIndex http://crevoisiersabine.github.io/DataScience/       
Redirect permanent http://crevoisiersabine.github.io/DataScience/index.html http://crevoisiersabine.github.io/DataScience/
Redirect permanent http://crevoisiersabine.github.io/DataScience/network.html http://crevoisiersabine.github.io/DataScience/Network
order deny,allow
